.header {
    background-color: var(--bg-cream);
    color: var(--fg-cream);
    height: 4.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;

    transition: var(--transition-colors);
}

.header a {
    height: 2.5rem;
}

.header a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}