* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --transition-colors: background-color 200ms ease-in-out,
    color 200ms ease-in-out;
    --shadow-bottom: 0 4px 8px rgba(0, 0, 0, 0.25);
    --shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.container {
    padding: 0 1rem;
}

.buttonIcon, .linkIcon {
    height: 2.5rem;
    aspect-ratio: 1/1;
    border: none;
    background-color: unset;
    color: unset;
    cursor: pointer;
    font-size: 1.5rem;
}
.linkIcon {
    display: block;
}

.linkOpacity {
    filter: opacity(1);
    transition: filter 200ms ease-in-out;
}

.linkOpacity:hover {
    filter: opacity(.7);
}