.lightTheme {
    --bg-cream: #FFFFBF;
    --bg-gradient-cream: radial-gradient(50% 50% at 50% 50%, #FFFFBF 0%, #FFEA80 100%);

    --fg-cream: #A69673;
    --fg-cream-dark: #685636;

    --color-red: #E52222;
    --color-white: #FBFAF6
}

.darkTheme {
    --bg-cream: #7F7359;
    --bg-gradient-cream: #2C2B17;

    --fg-cream: var(--color-white);
    --fg-cream-dark: var(--color-white);
    --color-red: #E52222;

    --color-white: #FBFAF6
}

.body {
    background-color: var(--color-white);
}